<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Linter's Project Site</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="up-main-block">
        <div class="block-main-text">
<!--            <a class='turs-block' href="index-turs.html">Туры</a>-->
            <a class='last-post-block' href="index-teatr.html">Театры</a>
            <a class="main-block" href="index-pokaz.html">Выставки</a>

            <img class="logo-block" src="logo-design.svg" width="57" height="55" alt="Design">

            <a class="donate-a-link-block" href="index.html">Мероприятия</a>
            <a class="community-block" href="index-dostoprimichatelsta.html">Достопримечательности </a>
            <a class="hotel-block" href="index-hotel.html">Отели </a>

            <input type="text" class="enter-text" placeholder="Театры, Мероприятия, Достопримечательности">
            <a class="location_design-block" href="#"><img src="location-design.png" width="18"></a>
            <a class="location_text-block" href="#">Грозный</a>
            <a class="people_design-block" href="login-player.html"><img src="people_design.png" width="25"></a>
            <a class="list-design-block" href="#"><img src="../image/list.png" width="25"></a>
        </div>
    </div>


    <div class="block-image-and-text">

        <div class="image1-block">
            <a class="url-block-image1" href="../detailed-index/vaynah.html"><img class="image1-block-design" src="../image/image1.png" width="450"></a>
            <a class="text-block-image1"><b>Вайнах</b></a>
            <a class="text-block-image1-2">декабрь - апрель • Вайнах</a>

            <a class="url-block-image2" href="../detailed-index/index2.html"><img class="image2-block-design" src="../image/image2.png" width="450"></a>
            <a class="text-block-image2"><b>Elman и Mola</b></a>
            <a class="text-block-image2-2">2 декабря, 18:00 • Колизей Максимус</a>

            <a class="url-block-image3" href="#"><img class="image3-block-design" src="../image/image3.png" width="450"></a>
            <a class="text-block-image3"><b>Ансамбль песни и танца "Даймохк"</b></a>
            <a class="text-block-image3-2">ноябрь, февраль • Вайнах"</a>

            <a class="url-block-image4" href="#"><img class="image4-block-design" src="../image/image4.png" width="450"></a>
            <a class="text-block-image4"><b>Ансамбль песни и танца "Нохчо"</b></a>
            <a class="text-block-image4-2">ноябрь, декабрь, февраль • Вайнах</a>

            <a class="url-block-image5" href="#"><img class="image5-block-design" src="../image/image5.png" width="450"></a>
            <a class="text-block-image5"><b>Вайнах</b></a>
            <a class="text-block-image5-2">декабрь - апрель • Вайнах</a>

            <a class="url-block-image6" href="#"><img class="image6-block-design" src="../image/image6.png" width="450"></a>
            <a class="text-block-image6"><b>Вайнах</b></a>
            <a class="text-block-image6-2">декабрь - апрель • Вайнах</a>

            <a class="url-block-image7" href="#"><img class="image7-block-design" src="../image/image6.png" width="450"></a>
            <a class="text-block-image7"><b>Вайнах</b></a>
            <a class="text-block-image7-2">декабрь - апрель • Вайнах</a>
        </div>
    </div>
</body>
</html>
