<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Linter's Project Site</title>
    <link rel="stylesheet" href="style-login.css">
</head>
<body>

    <div class="up-main-block">
        <div class="block-main-text">
<!--            <a class='turs-block' href="index-turs.html">Туры</a>-->
            <a class='last-post-block' href="index-teatr.html">Театры</a>
            <a class="main-block" href="index-pokaz.html">Выставки</a>

            <img class="logo-block" src="logo-design.svg" width="57" height="55" alt="Design">

            <a class="donate-a-link-block" href="index.html">Мероприятия</a>
            <a class="community-block" href="index-dostoprimichatelsta.html">Достопримечательности </a>
            <a class="hotel-block" href="index-hotel.html">Отели</a>

            <input type="text" class="enter-text" placeholder="Театры, Мероприятия, Достопримечательности">
            <a class="location_design-block" href="#"><img src="location-design.png" width="18"></a>
            <a class="location_text-block" href="#">Грозный</a>
            <a class="people_design-block" href="login-player.html"><img src="people_design.png" width="25"></a>
            <a class="list-design-block" href="#"><img src="../image/list.png" width="25"></a>
        </div>
    </div>

    <div class="sign-up-block">

        <div class="sign-up">
            <img class="main-background-block" src="../image-player/main-background.png" width="1000">
            <img class="logo-block-player" src="../image-player/logo.png" width="90">
            <span class="enter-text-login-block">Добрый день! С возвращением</span>

            <span class="enter-login-login-block">Логин</span>
            <input type="text" class="enter-login-block" placeholder="Введите ваш логин...">

            <span class="enter-password-login-block">Пароль</span>
            <input type="password" class="enter-password-block" placeholder="Введите ваш пароль...">

            <span class="checkbox-text">Запомнить меня</span>
            <span class="recovery-password-block">Восстановить пароль</span>

            <button class="signup-text-button-block">Войти</button>

            <span class="help-sign-un-text-block">Нет аккаунта?
                <a class="register-block-text" href="index-register.html">
                <b>Регистрация</b>
                </a>
            </span>
        </div>

    </div>